body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #2a3e51;
}
.logo{
    color: #ffffff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float:left;
}
.menu{
    float:left;
    padding-left: 430px;
    
}
.menu li{
    float:left;
    line-height: 60px;
    color: #ffffff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/main/boi.png) 90% 100%/auto 85% no-repeat, url(../img/main/background1.png) center/cover no-repeat;
  
}

.title__container{
    float:left;
    margin: 432px 0px 0px 404px; 
    color: #213549;
    text-align: center;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
    
}
.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #697784;
}
.title__container input{
    height: 40px;
    text-align:center;
    border: 2px solid #697784;
    background: none;
    border-radius: 5px;
    color: #697784;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    
}
.about_me{
    width: 100%;
    height: 718px;
    background: url(../img/about_me/Foto.png) no-repeat 46%, url(../img/about_me/trait.png) 915px 161px/auto no-repeat, url(../img/about_me/fon.png);
}
.about_me h2{
    font-size: 24px;
    font-weight: bolder;
    color: #1a2f43;
    padding: 109px 0px 0px 893px;
    
}
.description{
    float:left;
    font-size: 10px;
    color: #1a2f43;
    padding: 315px 0px 0px 650px;
}
.description p{
    padding: 43px 0px 0px 0px;
}
.about_me input{
    height: 32px; 
    text-align: center;
    border: 2px solid #6f7180;
    border-radius: 5px;
    color: #6f7180;
    padding: 5px 13px 11px 35px;
    margin: 456px 20px 0px 20px;
     
}
.Personal_information{
    width: 1920px;
    height: 520px;
    background: url(../img/what_I_can_do/trait.png) 50% 158px no-repeat, url(../img/what_I_can_do/picture_fon.png) no-repeat;
}
.me{
    float:left;
    font-size: 28px; 
    font-weight: bold;
    margin: 107px 0px 0px 873px;
}
.skills{
    float: left;
    padding: 134px 80px 80px 416px;
    text-align: center;
}
.WebDisine{
    float: left;
}
.WebDisine h4{
    font-size: 15px;
    color: #e97700;
    padding: 24px;
    font-weight: bold;
}
.Fix{
    float: left;
}
.Fix h4{
    font-size: 15px;
    color: #e97700;
    padding: 24px;
    font-weight: bold;
}
.CEO{
    float: left;
}
.CEO h4{
    font-size: 15px;
    color: #e97700;
    padding: 24px;
    font-weight: bold;
}
.Marketing{
    float: left;
}
.Marketing h4{
    font-size: 15px;
    color: #e97700;
    padding: 24px;
    font-weight: bold;
}
